@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

$paddingheader : 1rem;
$color_fondo_menu : rgba(232, 74, 95);
$color_fondo_header : rgba(254, 207, 169);
$color_fuente_menu : black;
$tamaño_letra_menu: 14px;
$padding_footer : 1rem;
$color_fondo_footer: rgba(232, 74, 95);
$color_letra_footer: black;
$anchura_pagina: 960px;
$hover: rgba(255, 131, 122);
//Variables añadidas
$border-color:rgba(255, 5, 5, 0.502);
$background: rgba(255, 131, 122);
$login-button-background:  rgba(255, 179, 179);
$font-color: rgba(255,255,255);
$contact-border-color:rgb(138, 0, 0);
$color-fuente-hero: white;
$background-paginas:  rgba(255, 179, 179);
$table-background: rgb(228, 106, 97);

